@if (!isHandset()) {
  <mat-toolbar color="primary" class="toolbar">
    <span class="toolbar__title">MovieCollections</span>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="toolbar__nav">
      <a mat-tab-link routerLink="/movies" routerLinkActive #moviesLink="routerLinkActive" [active]="moviesLink.isActive">Movies</a>
      <a mat-tab-link routerLink="/collections" routerLinkActive #collectionsLink="routerLinkActive" [active]="collectionsLink.isActive">Collections</a>
    </nav>
  </mat-toolbar>
}

<mat-tab-nav-panel #tabPanel />

<main [class.main--with-bottom-nav]="isHandset()">
  <router-outlet />
</main>

@if (isHandset()) {
  <nav class="bottom-nav mat-elevation-z8">
    <a routerLink="/movies" routerLinkActive="bottom-nav__item--active" class="bottom-nav__item">
      <mat-icon>movie</mat-icon>
      <span>Movies</span>
    </a>
    <a routerLink="/collections" routerLinkActive="bottom-nav__item--active" class="bottom-nav__item">
      <mat-icon>collections_bookmark</mat-icon>
      <span>Collections</span>
    </a>
  </nav>
}
